*{
    padding:0px;
    margin:0px;
    font-family:calibri;
    box-sizing:border-box;
}
body,html{
    background: #FCEEEA;
    width:100%;
    height:100%;
    margin:auto;
    /* text-align:center; */
 }
 #top{
    margin:15px 15px;
    display:flex;
    justify-content:space-between;
 }
 #top1{
    display:flex;
    gap:20px;
 }
 #top1 button{
    padding:10px 15px;
    font-size:20px;
    background:#FF3E6C;
    color:white;
 }
 h3{
    font-size:2em;
    margin-left:20px;
 }