* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
nav {
  display: flex;
  border-bottom: 1px solid #696b79;
  justify-content: space-around;
  align-items: center;
  color: #696b79;
  background-color: #fff;
  width: 100%;
  min-height: 78px;
  max-width: 92%;
  margin: auto;
  line-height: 78px;
}
nav img {
  /* border: 2px solid red; */
  margin-right: 10px;
}
#img {
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
}
nav span {
  /* border: 2px solid red; */
  margin: 0px 10px;
  color: #696b79;
}
#bag {
  color: #20bd99;
  border-bottom: 2px solid #20bd99;
  padding-bottom: 5px;
}
.container {
  /* border: 2px solid red; */
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 60% 1fr;
  margin-top: 40px;
}

.ribbinimg {
  /* border: 2px solid red; */
  display: grid;
  grid-template-columns: 20% 1fr;
}
.right {
  float: right;
}

#coupon {
  font-size: 12px;
  font-weight: 700;
  color: #535766;
  text-transform: uppercase;
  margin-bottom: 12px;
  padding: 5px 0px;
}
#bill {
  padding: 20px 20px;
  padding-bottom: 40px;
  border: 1px solid #696b79;
}
#Apply {
  border-bottom: 1px solid #696b79;
  color: #535766;
  text-transform: uppercase;
  margin-bottom: 12px;
  padding: 10px 0px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  padding-bottom: 20px;
}
.fa-tag {
  margin-right: 10px;
}
#btn {
  font-size: 12px;
  padding: 7px 16px;
  font-weight: 600;
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
  color: rgb(255, 63, 108);
  border-color: rgb(255, 63, 108);
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  position: relative;
  top: -7px;
}
.gift {
  font-size: 12px;
  font-weight: 700;
  color: #535766;
  margin: 24px 0 12px;
}
#imgribbon > img {
  height: 100px;
  /* border: 2px solid red; */
  position: relative;
  left: 5px;
  top: 7px;
}
.buy {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 5px;
}
.margin {
  margin-bottom: 5px;
}
.ribbinimg {
  background-color: #fbe9e7;
  padding: 10px 0px;
}
.wrap {
  font-size: 12px;
  font-weight: 600;
  border-radius: 2px;
  border-width: 0px;
  background-color: transparent;
  color: rgb(255, 63, 108);
  padding: 0px;
  cursor: pointer;
}

.gray {
  color: #282c3f;
  line-height: 16px;
}
.detail {
  font-size: 12px;
  font-weight: 700;
  margin: 24px 0 16px;
  color: #535766;
}
.green {
  color: #03a685;
}
.lightorange {
  font-size: 14px;
  color: #ff3f6c;
  line-height: 16px;
  cursor: pointer;
  text-transform: uppercase;
}

.total {
  font-weight: 700;
  font-size: 15px;
  padding-top: 16px;
  border-top: 1px solid #eaeaec;
  color: #3e4152;
  line-height: 16px;
}
.place {
  width: 100%;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 2px;
  border-width: 0px;
  padding: 10px 16px;
  background-color: rgb(255, 63, 108);
  color: rgb(255, 255, 255);
  cursor: pointer;
  text-align: center;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 600;
  margin-top: 15px;
}
.line {
  line-height: 20px;
}

/* productcss */
.avail {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 12px;
}
.para {
  color: #282c3f;
  line-height: 16px;
  margin: 8px 0px;
  font-size: 15px;
}

#selected {
  font-weight: 700;
  font-size: 16px;
  color: #282c3f;
  line-height: 15px;
  text-transform: uppercase;
  margin: 30px 0px;
  height: 32px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0;
  height: 20px;
  font-size: 12px;
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;
}
#selected a {
  text-decoration: none;
  color: #282c3f;
}
#selected a:hover {
  color: #ff3f6c;
  text-decoration: underline;
}
.wish {
  margin-right: 30px;
  color: #535766;
  height: 32px;
  text-transform: uppercase;
  font-weight: 700;
  color: #696b79;
  padding: 0;
  height: 20px;
  font-size: 12px;
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;
}
#count {
  margin: 0px 5px;
}
#mainsection {
  /* border: 2px solid red; */
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 150px;
  grid-gap: 20px;
}


.card {
  display: grid;
  grid-template-columns: 25% 1fr;
  position: relative;
  background: #fff;
  font-size: 14px;
  border: 1px solid #eaeaec;
  border-radius: 4px;
  position: relative;
  height: 150px;
  grid-auto-rows: 150px;
}

.card img {
  height: 100%;
  width: 100%;
}
.cross {
  position: absolute;
  color: black;
  font-weight: bold;
  cursor: pointer;
  font-size: 24px;
  /* background-color:#282c3f; */
  top: 2%;
  right: 2%;
}
.cross:hover {
  color: #ff3f6c;
}
.title {
  font-weight: 700;
  margin-bottom: 4px;
  line-height: 16px;
  font-size: 14px;
  color: #282c3f;
}
.padding {
  margin: 5px 0px;
  /* color: red; */
}
.fa-truck-fast {
  margin-bottom: 5px;
}
select {
  display: block;
}
.rest {
  padding-left: 10px;
}
i {
  padding-right: 5px;
}

/* remove and pop part */

#specialitem {
  margin-left: 15px;
  font-weight: 700;
  color: #fff;
}
#imgpop {
  height: 50px;
  /* border: 2px solid red; */
}
#remove {
  /* border: 2px solid red; */
  position: fixed;
  top: 0%;
  right: 4%;
  padding: 2px 10px;
  line-height: 34px;
  border-radius: 5px;
  background-color: #37474f;
  color: #fff;
  display: flex;
  align-items: center;
  visibility: hidden;
  z-index: 10;
}

#pop {
  transition: 0.3s;
  position: fixed;
  top: 18%;
  right: 4%;
  padding: 2px 10px;
  line-height: 34px;
  border-radius: 5px;
  background-color: #37474f;
  color: #fff;
  display: flex;
  align-items: center;
}
/* pararemove */
#More,
#less {
  padding-left: 17px;
  font-size: 14px;
  font-weight: 700;
  text-transform: capitalize;
  color: #ff3f6c;
  cursor: pointer;
  display: block;
}
#pararemove {
  display: none;
}
#parashow {
  display: block;
}
#More {
  display: block;
}
#morehide {
  display: none;
  padding-left: 17px;
  font-size: 14px;
  font-weight: 700;
  text-transform: capitalize;
  color: #ff3f6c;
  cursor: pointer;
}
#less {
  display: none;
}
#lessshow {
  display: block;
  padding-left: 17px;
  font-size: 14px;
  font-weight: 700;
  text-transform: capitalize;
  color: #ff3f6c;
  cursor: pointer;
}

/* extraitem */

.SIMILAR {
  width: 90%;
  margin: auto;
  margin-top: 50px;
  color: #ff3e6c;
}

#wishlistcontainer {
    width: 90%;
    margin: auto;
    display: grid;
    margin-top: 30px;
    margin-bottom: 40px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    grid-auto-rows: minmax(min-content, 400px);
    grid-template-rows: minmax(min-content, 400px);
    z-index: 1;
  }
  .cartcard > img {
    width: 100%;
    height: 70%;
    z-index: 1;

  }
  .cartoffprice {
    text-decoration: line-through;
    opacity: 0.7;
    font-size: 12px;
    padding: 0 3px;
    color: #282c3f;
  }
  .cartcard {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    position: relative;
  }
  .cartcard > div {
    margin-top: 2%;
    margin-bottom: 4%;
  }
  .cartthree {
    /* border: 2px solid red; */
    justify-content: center;
    font-size: small;
    display: flex;
  }
  .cartthree > span {
    margin-left: 1%;
  }
  .cartdescription {
    /* border: 2px solid red; */
    color: #282c3f;
    text-align: center;
  }
  .cartbtn {
    border: 1px solid lightslategray;
    text-align: center;
    position: absolute;
    width: 100%;
    padding: 5% 0px;
    bottom: -3%;
    cursor: pointer;
    color: #ff3e6c;
    font-weight: 700;
  }
  .cartPercantage {
    color: #ff905a;
    font-weight: 700;
    padding: 0 3px;
    font-size: 12px;
  }

  @media screen and (max-width: 820px) {
    #wishlistcontainer {
      /* margin-top: 150px; */
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 30px;
      grid-auto-rows: minmax(min-content, 400px);
      grid-template-rows: minmax(min-content, 400px);
    }
    .container {
        /* border: 2px solid red; */
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: 60% 1fr;
        margin-top: 40px;
      }

  }
  @media screen and (max-width: 550px) {
    #wishlistcontainer {
      /* border: 2px solid red; */
      width: 100%;
      display: grid;
      grid-gap: 30px;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: minmax(min-content, 400px);
      grid-template-rows: minmax(min-content, 400px);
    }
    .container {
        /* border: 2px solid red; */
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 40px;
      }

  }
  

  