body {
  position: relative;
}

/* mainsection */
.wishlistheader {
  width: 90%;
  margin: auto;
  margin-top: 90px;
  font-weight: bolder;
  height: 50px;
  line-height: 50px;
}
#lighter {
  font-weight: lighter;
  font-size: 20px;
}
#wishlistcontainer {
  /* border: 2px solid red;   */
  width: 90%;
  margin: auto;
  display: grid;
  margin-top: 30px;
  grid-template-columns: repeat(4, 1fr);
  /* grid-column-gap: 5%; */
  /* grid-row-gap: 5%;  */
  grid-gap: 30px;
  grid-auto-rows: minmax(min-content, 400px);
  grid-template-rows: minmax(min-content, 400px);
  margin-bottom: 80px;
}
.card > img {
  /* border: 2px solid red; */
  width: 100%;
  height: 70%;
}
.offprice {
  text-decoration: line-through;
  opacity: 0.7;
  font-size: 12px;
  padding: 0 3px;
  color: #282c3f;
}
.card {
  /* border: 2px solid red; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  /* padding: 0px 2%; */
  position: relative;
}

.card > div {
  margin-top: 2%;
  margin-bottom: 4%;
}
.three {
  /* border: 2px solid red; */
  justify-content: center;
  font-size: small;
  display: flex;
}
.three > span {
  margin-left: 1%;
}
.description {
  /* border: 2px solid red; */
  color: #282c3f;
  text-align: center;
}
.btn {
  border: 1px solid lightslategray;
  text-align: center;
  position: absolute;
  width: 100%;
  padding: 5% 0px;
  bottom: -3%;
  cursor: pointer;
  color: #ff3e6c;
  font-weight: 700;
}
.Percantage {
  color: #ff905a;
  font-weight: 700;
  padding: 0 3px;
  font-size: 12px;
}

.cross {
  position: absolute;
  right: 4%;
  color: black;
  font-weight: bold;
  cursor: pointer;
  font-size: 24px;
  /* background-color:#282c3f; */
  top: 2%;
}

/* remove and pop part */

#item {
  margin-left: 15px;
  font-weight: 700;
  color: #fff;
}
#imgpop {
  height: 50px;
  /* border: 2px solid red; */
}
#remove {
  /* border: 2px solid red; */
  position: fixed;
  top: 0%;
  right: 4%;
  padding: 2px 10px;
  line-height: 34px;
  border-radius: 5px;
  background-color: #37474f;
  color: #fff;
  /* display: none; */
  display: flex;
  align-items: center;
  visibility: hidden;
}

#pop {
  transition: 0.3s;
  position: fixed;
  top: 18%;
  right: 4%;
  padding: 2px 10px;
  line-height: 34px;
  border-radius: 5px;
  background-color: #37474f;
  color: #fff;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 820px) {
  #wishlistcontainer {
    margin-top: 150px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    grid-auto-rows: minmax(min-content, 400px);
    grid-template-rows: minmax(min-content, 400px);
  }
  .three > span {
    margin-right: 1%;
    margin-left: 1%;
  }
}
@media screen and (max-width: 550px) {
  #wishlistcontainer {
    width: 100%;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(min-content, 400px);
    grid-template-rows: minmax(min-content, 400px);
  }
  .three > span {
    margin-right: 1%;
    margin-left: 1%;
  }
}

