body {
    margin: 0;
    padding: 0;
  }
  
  #Products-stuff {
    width: 95%;
    height: 100vh;
    margin: auto;
    font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
      Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    margin-top: 13vh;
  }
  
  #Products-stuff div:nth-child(1) {
    color: #282c3f;
    font-size: 14px;
    line-height: 1;
  }
  
  #Products-stuff div:nth-child(1) > span {
    font-weight: 500;
  }
  
  #Products-stuff div:nth-child(2) {
    color: #282c3f;
    font-size: 14px;
    font-size: 16px;
    font-weight: 500;
  }
  
  #Products-stuff div:nth-child(2) > span {
    font-weight: 100;
  }
  
  /* Select tag */
  
  #main-filter {
    display: flex;
  }
  
  #main-filter {
    margin: -10px;
    padding: 0;
  }
  
  #Products-stuff .fltr {
    width: 20%;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  #Products-stuff .bundle {
    color: #696969;
    width: 10%;
    font-weight: 400;
    font-size: 14px;
  }
  
  #Products-stuff .bundle > select,
  #Products-stuff .country > select,
  #Products-stuff .size > select {
    border: none;
    padding: 10px;
    background-color: white;
  }
  
  #Products-stuff .country {
    color: #282c3f;
    width: 12%;
    font-weight: 400;
    font-size: 14px;
  }
  
  #Products-stuff .size {
    color: #282c3f;
    width: 20%;
    font-weight: 400;
    font-size: 14px;
  }
  
  #Products-stuff .ProductSelectBy {
    width: 40%;
    display: flex;
    justify-content: flex-end;
  }
  
  .ProductSelectBy select {
    padding: 9px 14px;
    font-size: 14px;
    color: #282c3f;
    width: 255px;
    border-radius: 2px;
    border: 1px solid lightgray;
    background-color: white;
  }
  
  /* filter */
  
  #ProductBlock {
    width: 100%;
    display: flex;
    margin-top: 10px;
  }
  
  #ProductFilter {
    width: 20%;
    min-width: 200px;
    border-top: 1px solid lightgray;
    border-right: 1px solid lightgray;
  }
  
  #brandFilter li {
    list-style: none;
    margin: 8px;
  }
  
  #brandFilter li > span {
    padding-left: 10px;
    margin-top: -20px;
    font-size: 14px;
    color: #282c3f;
    font-family: sans-serif;
    min-height: 17px;
  }
  /* ul */
  #brandFilter #filterButtonBrand {
    padding-top: 10px;
  }
  
  #productGrid {
    width: 80%;
    border-top: 1px solid lightgray;
  }
  
  #brandFilter #filterButtonDiscount {
    margin-top: 10px;
  }
  
  #filterButtonDiscount li {
    letter-spacing: 1px;
  }
  
  /* product grid */
  
  #productGridItems {
    display: grid;
    grid-template-columns: repeat(4, 23.7%);
    grid-gap: 20px;
    margin-top: 20px;
    margin-left: 20px;
  }
  
  #productGridItems #outerDIv {
    width: 100%;
  }
  
  #productGridItems img {
    width: 100%;
    margin-bottom: 0;
    padding: 0;
  }
  #products a {
    text-decoration: none;
  }
  
  #products a > div {
    margin: 5px;
    padding: 5px;
    color: black;
    line-height: 20px;
  }
  
  #products .brandname {
    font-size: 16px;
    font-weight: 500;
    line-height: 3;
    color: #282c3f;
    margin-bottom: -5px;
    margin-top: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  #products .title {
    color: #535766;
    font-size: 14px;
    line-height: 3;
    margin-bottom: 0;
    margin-top: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
    display: block;
  }
  
  #products .price {
    font-size: 14px;
    color: #282c3f;
    font-weight: 500;
  }
  
  #products .line-through {
    text-decoration: line-through;
    color: #7e818c;
    font-weight: 400;
    margin-left: 5px;
    font-size: 12px;
  }
  #products .discount {
    color: #ff905a;
    font-weight: 400;
    font-size: 12px;
    margin-left: 5px;
  }
  
  /* .add-to-cart-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    border: none;
    padding: 0.75rem 1.2rem;
    font-size: 1.05rem;
    background-color: var(--baltic-sea);
    color: #fff;
    transition: var(--trans);
    -webkit-transition: var(--trans);
    -moz-transition: var(--trans);
    -ms-transition: var(--trans);
    -o-transition: var(--trans);
    opacity: 0;
  }
  .product-item:hover .add-to-cart-btn{
    opacity: 1;
  }
  .add-to-cart-btn .fas{
    margin-right: 0.4rem;
  }
  .add-to-cart-btn:hover{
    background-color: #23272a;
  }
  .add-to-cart-btn:hover{
    color: var(--fire-bush);
  } */
  
  .img_div {
    position: relative;
    justify-content: center;
  }
  
  /* .wishbtn {
    visibility: hidden;
    border: none;
    position: absolute;
    bottom: 5px;
    left: 5px;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
        left: 3px; 
        height: 28px;
    width: 95%;
    z-index: 5;
  }  */
  /* .wishbtn span {
    text-align: center;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    margin: 4px;
    padding: 3px;
  } */
  /* .wishbtn > :nth-child(2) {
    font-size: 17px;
  
    /* background-color: red; */
  /* margin-top: -25px; */
  /* //}  */
  
  #wishListDiv {
    visibility: hidden;
    width: 100%;
    height: 60px;
    background-color: white;
    margin-bottom: -5px;
    visibility: hidden;
    border: none;
    position: absolute;
    bottom: 5px;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    z-index: 5;
    color: lightgray;
    border: 1px solid lightgray;
  }
  
  #wishListBtn {
    border: 1px solid lightgray;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    width: 85%;
    border-radius: 2px;
    border: 1px solid #d4d5d9;
    color: #282c3f;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
      Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    margin-top: 10px;
  }
  #wishListBtn span {
    text-align: center;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    font-weight: 500;
    font-size: 15px;
    padding: 10px;
  }
  
  .wishbtn > :nth-child(2) {
    font-size: 17px;
  
    /* background-color: red; */
    /* margin-top: -25px; */
  }
  