.text-banner-title {
    text-transform: uppercase;
    color: #3e4152;
    letter-spacing: 0.15em;
    font-size: 1.8em;
    margin: 50px 0 20px 30px;
    max-height: 5em;
    font-weight: 600;
}

.img-link-container-2 img,
.img-link-container-3 img,
.img-link-container-4 img,
.img-link-container-6 img,
.img-link-container-7 img,
.img-link-container-8 img,
.img-link-container-9 img,
.img-link-container-10 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-link-container-2 img:hover,
.img-link-container-3 img:hover,
.img-link-container-4 img:hover,
.img-link-container-6 img:hover,
.img-link-container-7 img:hover,
.img-link-container-8 img:hover,
.img-link-container-9 img:hover,
.img-link-container-10 img:hover {
    border: 1px solid black;
}

.img-link-container-2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    grid-row-gap: 0;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 40px;
}

.img-link-container-3 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
    grid-row-gap: 0;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 40px;
}

.img-link-container-4,
.img-link-container-6,
.img-link-container-7,
.img-link-container-8,
.img-link-container-9,
.img-link-container-10 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    grid-row-gap: 0;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 40px;
    margin-bottom: 20px;
}


/* Image Slider CSS */
.slider {
    width: 100%;
    height: 500px;
    overflow: hidden;
    margin-top: 30px;
}

.slides {
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/*css for manual slide navigation*/

.navigation-manual {
    position: absolute;
    width: 100%;
    margin-top: -25px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    padding: 3.9px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 10px;
}

.manual-btn:hover {
    background: gray;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -20%;
}

#radio3:checked~.first {
    margin-left: -40%;
}

/*css for automatic navigation*/

.navigation-auto {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 475px;
}

.navigation-auto div {
    border: 2px solid rgba(211, 211, 211, 0.651);
    padding: 1.9px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 10px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
    background: gray;
}

#radio2:checked~.navigation-auto .auto-btn2 {
    background: gray;
}

#radio3:checked~.navigation-auto .auto-btn3 {
    background: gray;
}

/* Side Image */
.side-image-1 {
    position: fixed;
    right: 0;
    top: 450px;
    cursor: pointer;
}

.img-container {
    width: 1080px;
    margin: 40px auto;
}

#main img:hover {
    border: 1px solid black;
}