* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /* Scrollbar-Width */
  /* Firefox */
  /* * {
    scrollbar-width: none;
    scrollbar-color: #88858a #ffffff;
  }
  
  /* Chrome, Edge, and Safari */
  /* *::-webkit-scrollbar {
    width: 10px;
  }
  
  *::-webkit-scrollbar-track {
    background: #ffffff;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #88858a;
    border-radius: 2px;
    border: 3px solid #968d8d;
  } */ */
  
  body {
    font-family: "Whitney", -apple-system, "BlinkMacSystemFont", "Segoe UI",
      "Roboto", Helvetica, Arial, sans-serif;
    min-height: 100vh;
    background-color: rgb(250, 251, 253);
  }
  
  /* Navbar section CSS*/
  .header {
    background: #fff;
    z-index: 10;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    height: 80px;
    max-width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header a {
    text-decoration: none;
    color: black;
   
  }
  
  .header a img {
    width: 50px;
    height: 30px;
  }
  .header ul {
    list-style: none;
  }
  
  .menu-items {
    display: flex;
    align-items: center;
  }
  .menu-items li {
    font-size: 14px;
    font-weight: 700;
    padding: 0.5rem 1rem;
    transition:background 0.3s ease-in-out;
  }
  .menu-items .menu-item-1:hover {
    border-bottom: 3px solid #ee5f73;
    padding-bottom: 27px;
  }
  .menu-items .menu-item-2:hover {
    border-bottom: 3px solid #fb56c1;
    padding-bottom: 27px;
  }
  .menu-items .menu-item-3:hover {
    border-bottom: 3px solid #f26a10;
    padding-bottom: 27px;
  }
  .menu-items .menu-item-4:hover {
    border-bottom: 3px solid #f2c210;
    padding-bottom: 27px;
  }
  .menu-items .menu-item-5:hover {
    border-bottom: 3px solid #0db7af;
    padding-bottom: 27px;
  }
  .menu-items .menu-item-6:hover {
    border-bottom: 3px solid #ff3f6c;
    padding-bottom: 27px;
  }
  
  
  /* mega menu  */
  .mega-menu {
    position: absolute;
    left: 0;
    width: 80vw;
    top: 80px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
  }
  .mega-menu .content {
    background: #fff;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    top: 30px;
    margin: 0 auto;
    padding: 1rem 2rem 1rem 2rem;
    display: flex;
    /* grid-template-columns: repeat(4, 1fr); */
    /* gap: 0.5rem; */
    width: 70vw;
    justify-content: space-between;
  }
  .mega-menu .content4 {
    background: #fff;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    top: 32px;
    margin: 0 auto;
    padding: 1rem 2rem 1rem 2rem;
    display: flex;
    /* gap: 0.5rem; */
    width: 70vw;
    justify-content: space-between;
  }
  .content .col,
  .content4 .col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 1.5rem;
  }
  .content .col .item-1-heading {
    color: #ee5f73;
    font-size: 0.8rem;
    line-height: 3rem;
    font-weight: bold;
  }
  .content .col .item-2-heading {
    color: #fb56c1;
    font-size: 0.8rem;
    line-height: 3rem;
    font-weight: bold;
  }
  .content .col .item-3-heading {
    color: #f26a10;
    font-size: 0.8rem;
    line-height: 3rem;
    font-weight: bold;
  }
  .content4 .col .item-4-heading {
    color: #f2c210;
    font-size: 0.8rem;
    line-height: 3rem;
    font-weight: bold;
  }
  .content4 .col .item-5-heading {
    color: #0db7af;
    font-size: 0.8rem;
    line-height: 3rem;
    font-weight: bold;
  }
  .content .col p {
    line-height: 1.2rem;
  }
  .col .mega-links li,
  .col .mega-links li a {
    padding: 0rem;
    color: #282c3f;
    font-weight: 400;
    font-size: 14px;
    font-weight: 400;
  }
  .menu-items li:hover .mega-menu {
    top: 50px;
    opacity: 1;
    visibility: visible;
  }
  .col .mega-links :hover {
    color: #282c3f;
    font-size: 14px;
    font-weight: 700;
  }
  
  .nav-last {
    padding: 0 12px 0 17px;
    margin-right: 15px;
    position: relative;
    display: flex;
    height: 40px;
  }
  .nav-last > div {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 13px ;
    font-weight: 700;
    align-items: center;
    padding-top: 5px;
    margin-left: 15px;
  }
  
  #svg {
    height: 17px ;
    margin-left: 0px;
  }
  .search-div {
    position: relative;
    left: 40px;
    display: flex;
    width: 32%;
    background-color: #f5f5f6;
    height: 30px;
    align-items: center;
    justify-content: flex-start;
    border-radius: 3px;
  }
  
  #searchpng {
    width: 15px;
    margin: 15px;
    opacity: 0.5;
  }
  .search-div input {
    width: 70%;
    border: none;
    margin-left: 2%;
    background-color: #f5f5f6;
    outline: none;
  }
  
  .menu-item-6 .sup-part {
    color: red;
    position: relative;
    font-size: 9px;
    font-weight: 900;
    bottom: 8px;
  }
  
  .image-1 {
    display: block;
    width: 103.1px;
    height: 29.5px;
    margin: 10px auto 0;
  }
  .image-2 {
    display: block;
    width: 514px;
    height: 274px;
    margin: 20px auto 0;
  }
  .image-3 {
    display: block;
    width: 192px;
    height: 42px;
    object-fit: cover;
    margin: 20px auto 0;
    cursor: pointer;
  }
  .mega-menu .content-6 {
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
    top: 30px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    /* grid-template-columns: repeat(1, 1fr); */
    gap: 0.5rem;
    width: fit-content;
    justify-content: space-between;
  }
  .content-6 section p {
    margin-top: 9.5px;
    font-family: "Whitney";
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    color: #535766;
  }

  /* profile section  */
  .dropbtn {
    color: black;
    background-color: transparent;
    padding: 0;
    margin: 0px 0px 0px 8px;
    font-size: 11px ;
    outline: none;
    font-weight: 600;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: fixed;
    right: 50px;
    background-color: #fff;
    min-width: 240px;
    min-height: fit-content;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 1;
  }
  .dropdown-content h3,
  .dropdown-content p,
  .dropdown-content .btn-redirect {
    padding: 5px 12px 5px 20px;
    text-align: left;
  }
  .dropdown-content h3 {
    font-size: 16px;
  }
  .dropdown-content p {
    font-size: 15px;
    font-weight: 400;
    padding: 0 12px 10px 20px;
  }
  .hr1,
  .hr2 {
    width: 230px;
    margin: 14px auto 10px auto;
    border-radius: 2px;
    background-color: rgba(211, 211, 211, 0.452);
  }
  .btn-redirect {
    position: relative;
    right: 25px;
    background-color: transparent;
    outline: none;
    border-width: 1px;
  }
  .btn-redirect .login-btn {
    color: #ff3f6c ;
    font-weight: bold;
  }
  
  .btn-redirect:hover {
    border: 1px solid #ff3f6c;
  }
  .btn-redirect .hr1,
  .btn-redirect .hr2 {
    font-weight: 600;
  }
  .dropdown-content a {
    color: #282c3f;
    padding: 5px 12px 5px 20px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
  }
  .dropdown-content a:hover:not(.login-btn) {
    font-weight: 700;
    color:#282c3f;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    padding-bottom: 18px !important;
    border-bottom: 3px solid #ee5f73;
  }
  .new {
    background-color: #ff3f6c;
    border-radius: 4px 0 4px 0;
    margin-left: 9px;
    font-weight: 700;
    color: white;
    padding: 1px;
  }  